@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--neutral-color-1);
    margin: 0;
    color: var(--neutral-color-9);
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}